/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  html,
  body {
    width: 100%;
    height: 190%;
  }
  
  #main2 {
    width: 70%;
    margin-top: 2%;
    margin-left: 16%;
    height: 95%;
    background: white;
    border: 3px solid black;
    border-radius: 2%;
  }
  #nav {
    width: 100%;
    height: 4%;
    background: #193984;
    display: flex;
    align-items: center;
    border-radius:15px;
  }
  #nav h2 {
    margin-left: 30px;
    color: white;
    font-family: "gilroy";
    font-size: 30px;
  }
  #main2 img {
    width: 100px;
  }
  #main2 #upper {
    display: flex;
    /* align-items: center; */
    margin-top: 20px;
    margin-left: 33%;
  }
  #main2 #upper > h1 {
    margin-top: -5px;
    margin-left: 25px;
    font-size: 45px;
    letter-spacing: -2px;
    color: #193984;
  }
  #main2 #line {
    width: 320px;
    height: 4px;
    background: #193984;
    margin-top: -50px;
    margin-left: 44%;
  }
  #main2 > h3 {
    margin-left: 47%;
    font-size: 40px;
    letter-spacing: -2px;
    color: maroon;
  }
  #main2 #boxes {
    margin-top: 7.5%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  #main2 #one {
    resize: none;
  }
  #main2 #boxes #b1 > i {
    position: absolute;
    font-size: 25px;
    margin-top: -30px;
    margin-left: -12%;
    background: red;
    padding: 10px;
    color: white;
    border-radius: 50%;
  }
  #main2 #boxes #b1 h2{
    position: absolute;
    margin-left: 0.5%;
    z-index: 99;
    width: 20%;
    margin-top: 2%;
  }
  #main2 #two {
    resize: none;
  }
  #main2 #boxes #b2 > i {
    position: absolute;
    font-size: 25px;
    margin-top: -30px;
    margin-left: -12%;
    background: red;
    padding: 10px;
    color: white;
    border-radius: 50%;
  }
  #main2 #boxes #b2 h2{
    position: absolute;
    margin-left: 1%;
    z-index: 99;
    width: 20%;
    margin-top: 4%;
  }
  #main2 #three {
    resize: none;
  }
  #main2 #boxes #b3 > i {
    position: absolute;
    font-size: 25px;
    margin-top: -30px;
    margin-left: -12%;
    background: red;
    padding: 10px;
    color: white;
    border-radius: 50%;
  }
  #main2 #boxes #b3 h2{
    position: absolute;
    margin-left: 1%;
    z-index: 99;
    width: 20%;
    margin-top: 4%;
  }
  #main2 p {
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
    line-height: 25px;
    padding: 30px 60px;
  }
  #main2 #mid #t{
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 265px;
    margin-left:5% ;
  
  }
  #main2 #t>h4{
    font-family: "gilroy";
    font-weight: 200;
  }
  #main2 #b{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  }
  #main2 #b .c{
    padding: 12px 50px;
    border-radius: 5px;
    border: .5px solid grey;
  }
  #main2 #mid h5{
    font-family: "gilroy";
    font-weight: 200;
    margin-left: 45px;
    font-size: 17px;
    margin-top: 15px;
  }
  #mid #ta{
    resize: none;
    margin-left: 30px;
    margin-top: 15px;
    border-radius: 5px;
  }
  
  #main2 #lower{
    padding:20px 50px ;
  }
  #main2 #lower>h6{
    font-size: 18px;
    padding: 15px;
    text-align:start;
    font-family:"gilroy";
    font-weight: 100;
  }
  #main2 #tla{
    margin-top: 5px;
    border-radius: 5px;
  }
  #btn{
    margin-left: 50%;
    background-color: blue;
    color: white;
    width: 10%;
    height:40px;
    border-radius: 2%;
  }